.quiqqer-auth-google2fa-login label {
    display: block;
    margin-bottom: 10px;
    position: relative;
    width: 100%;
}

.quiqqer-auth-google2fa-login label span {
    display: block;
    padding-bottom: 5px;
    width: 100%;
}

.quiqqer-auth-google2fa-login label input {
    display: block;
    width: 100%;
}

.quiqqer-auth-google2fa-login input {
    display: block;
    width: 100%;
}

.quiqqer-auth-google2fa-login [type="submit"] {
    cursor: pointer;
}