.quiqqer-auth-google-login-btn,
.quiqqer-auth-google-login-btn:disabled,
.quiqqer-auth-google-login-btn:hover {
    background-color: #dd4b39 !important;
    border-color: #dd4b39 !important;
    border: none !important;
    border-radius: 3px !important;
    color: #FFF !important;
    padding: 0 10px;
    height: 30px;
}

.quiqqer-auth-google-login-btn:disabled {
    cursor: not-allowed;
}