<?xml version="1.0" encoding="UTF-8"?>
<events>
    <event on="onUserDelete" fire="\QUI\Auth\Google\Events::onUserDelete"/>
    <event on="onQuiqqerFrontendUsersUserDelete" fire="\QUI\Auth\Google\Events::onUserDelete"/>
    <event on="onQuiqqerMigrationV2" fire="\QUI\Auth\Google\Events::onQuiqqerMigrationV2"/>
</events>