parameters:
	ignoreErrors:
		-
			message: "#^Call to function is_null\\(\\) with QUI\\\\Users\\\\User will always evaluate to false\\.$#"
			count: 1
			path: src/QUI/Auth/Google/Auth.php

		-
			message: "#^Method QUI\\\\Auth\\\\Google\\\\Auth\\:\\:getPasswordResetControl\\(\\) should return QUI\\\\Control but returns null\\.$#"
			count: 1
			path: src/QUI/Auth/Google/Auth.php

		-
			message: "#^Property QUI\\\\Auth\\\\Google\\\\Auth\\:\\:\\$User \\(QUI\\\\Users\\\\User\\) does not accept QUI\\\\Users\\\\Nobody\\|null\\.$#"
			count: 1
			path: src/QUI/Auth/Google/Auth.php

		-
			message: "#^Call to function is_null\\(\\) with Google\\\\Client will always evaluate to false\\.$#"
			count: 1
			path: src/QUI/Auth/Google/Google.php

		-
			message: "#^Unreachable statement \\- code above always terminates\\.$#"
			count: 1
			path: src/QUI/Auth/Google/Google.php

		-
			message: "#^Method QUI\\\\Registration\\\\Google\\\\Registrar\\:\\:validate\\(\\) should return array\\<QUI\\\\FrontendUsers\\\\InvalidFormField\\> but return statement is missing\\.$#"
			count: 1
			path: src/QUI/Registration/Google/Registrar.php

		-
			message: "#^Parameter \\#1 \\$ParentUser of method QUI\\\\Interfaces\\\\Users\\\\User\\:\\:save\\(\\) expects bool\\|QUI\\\\Users\\\\User, QUI\\\\Users\\\\SystemUser\\|null given\\.$#"
			count: 1
			path: src/QUI/Registration/Google/Registrar.php

		-
			message: "#^Parameter \\#2 \\$ParentUser of method QUI\\\\Interfaces\\\\Users\\\\User\\:\\:setPassword\\(\\) expects bool\\|QUI\\\\Users\\\\User, QUI\\\\Users\\\\SystemUser\\|null given\\.$#"
			count: 1
			path: src/QUI/Registration/Google/Registrar.php

		-
			message: "#^Parameter \\#2 \\$value of method QUI\\\\Interfaces\\\\Users\\\\User\\:\\:setAttribute\\(\\) expects array\\|int\\|string, bool given\\.$#"
			count: 1
			path: src/QUI/Registration/Google/Registrar.php

		-
			message: "#^Return type \\(void\\) of method QUI\\\\Registration\\\\Google\\\\Registrar\\:\\:onRegistered\\(\\) should be compatible with return type \\(int\\) of method QUI\\\\FrontendUsers\\\\AbstractRegistrar\\:\\:onRegistered\\(\\)$#"
			count: 1
			path: src/QUI/Registration/Google/Registrar.php
