.quiqqer-auth-google-login {
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
}

.quiqqer-auth-google-login-info {
    margin-bottom: 20px;
    width: 100%;
}

.quiqqer-auth-google-login-btn {
    display: inline-block;
    float: none !important;
    margin: auto !important;
}

.quiqqer-auth-google-login-btns {
    text-align: center;
    width: 100%;
}