.quiqqer-auth-google-registration-btn,
.quiqqer-auth-google-registration-btn:disabled,
.quiqqer-auth-google-registration-btn:hover {
    background-color: #dd4b39 !important;
    border-color: #dd4b39 !important;
    color: #FFF;
}

.quiqqer-auth-google-consent-info {
    font-size: 0.8rem;
    line-height: 1.2rem;
    margin-top: 15px;
    text-align: center;
}

.quiqqer-auth-google-consent-btn button {
    background-color: #dd4b39 !important;
    border-color: #dd4b39 !important;
    border: none !important;
    border-radius: 3px !important;
    color: #FFF !important;
    display: block;
    float: none !important;
    margin: auto;
    padding: 0 10px;
}

.quiqqer-auth-google-registration-btn:hover {
    background-color: #a62819 !important;
    border-color: #a62819 !important;
}
