.quiqqer-authgoogle-registrar-form {
    float: left;
    height: 100%;
    width: 100%;
}

.google-login p {
    text-align: center;
}

.google-login button {
    margin-top: 20px !important;
}

.quiqqer-auth-google-registration-popup {
    text-align: center;
}

.quiqqer-auth-google-registration-popup button {
    float: none !important;
}